knewstuff/data/knewstuffproviders.dtd

<?xml version="1.0" encoding="UTF-8"?>

<!ELEMENT knewstuffproviders (provider+)>

<!ELEMENT provider (noupload?,title)>
  <!ATTLIST provider downloadurl CDATA #REQUIRED>
  <!ATTLIST provider uploadurl CDATA #REQUIRED>
  <!ATTLIST provider nouploadurl CDATA #IMPLIED>

<!ELEMENT noupload EMPTY>

<!ELEMENT title (#PCDATA)>
